* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h3, h4 {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  color: #211e1f;
}

h1 {
  grid-column: 1/4;
  grid-row: 6;
  font-size:50px;
  background-color: #ebe7db;
  height: 100%;
  padding: 30px;
  margin: 0;
}

h3 {
  grid-column: 4/7;
  grid-row: 6;
  font-size: 30px;
  background-color: #ebe7db;
  height: 100%;
  padding: 30px;
  margin: 0;
}

h4 {
  grid-column: 4/7;
  grid-row: 6;
  align-self: end;
  padding: 30px;
  margin: 0;
  
}

.wrapper {
  display:flex;
  height: 80vh;
  width: 100%;
  justify-content: center;
}

.container {
  display: flex;
  margin: auto 0;
  width: 600px;
  height: 80vh;
  transform: translateY(10%);
  overflow-x: hidden;
}


.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.first-row-red {
  grid-column: 4/6;
  grid-row: 1/2;
  background-color: #ef4423;
  margin: 0;
}

.first-row-black {
  grid-column: 6/7;
  grid-row: 1/2;
  background-color: #211e1f;
  color: #211e1f;
  margin: 0;
}

.first-row-red-offset {
  grid-column: 5/6;
  grid-row: 1/2;
  margin: 0;
  color: #ef4423;
  background-color: #ef4423;
  transform: translateX(50%);
}

.first-row-red-circle {
  grid-column: 6/7;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  margin-top: 0;
  text-align: center;
  color: #ef4423;
  border-radius: 50%;
  background-color: #ef4423;
}

.first-row-blue {
  margin: 0;
  grid-column: 1/4;
  grid-row: 1/2;
  height: 100%;
  background-color: #375caa;
  color: #375caa;
}

.first-row-blue-offset {
  grid-column: 3/4;
  grid-row: 1/2;
  height: 100%;
  margin-top: 0;
  transform: translateX(50%);
  background-color: #375caa;
  color: #375caa;
}

.first-row-blue-circle {
  grid-column: 4/5;
  grid-row: 1/2;
  height: 100%;
  width: 100%;
  margin-top: 0;
  border-radius: 50%;
  background-color: #375caa;
}

.second-row-black {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: #211e1f;
  color: #211e1f;
  margin: 0;
  z-index: -1;
}

.second-row-circle-pink {
  display: flex;
  grid-column: 1;
  grid-row: 2;
  align-items: center;
  justify-content: center;
  color: #f2a1c3;

  height: 100%;
  width: 100%;
  background-color: #f2a1c3;
  border-radius: 50%;
  margin: 0;
}

.pink-background-offset {
  margin: 0;
  grid-column: 2/3;
  grid-row: 2/3;
  height: 100%;
  background-color: #f2a1c3;
  color: #f2a1c3;
  transform: translateX(-50%);
}

.pink-background {
  margin: 0;
  grid-column: 2/5;
  grid-row: 2/3;
  height: 100%;
  background-color: #f2a1c3;
  color: #f2a1c3;
}

.second-row-green {
  grid-column: 5/7;
  grid-row: 2/3;
  margin: 0;
  color: #0a8a57;
  background-color: #0a8a57;
}

.second-row-green-offset {
  grid-column: 5/6;
  grid-row: 2/3;
  margin: 0;
  color: #0a8a57;
  background-color: #0a8a57;
  transform: translateX(-50%);
}

.second-row-green-circle {
  grid-column: 4/5;
  grid-row: 2/3;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 50%;
  text-align: center;
  color: #0a8a57;
  background-color: #0a8a57;
  z-index: 1;
}

.big-circle-white {
  grid-row: 2/4;
  grid-column: 5/7;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 1;
  border-radius: 50%;
  transform: translateX(50%);
  background-color: #ebe7db;
  color: #0a8a57;
}

.third-row-white {
  grid-column: 1/4;
  grid-row: 3/4;

  height: 100%;
  margin-top: 0;
  background-color: #ebe7db;
  color: #ebe7db;
}

.third-row-white-offset {
  grid-column: 3/4;
  grid-row: 3/4;
  height: 100%;
  margin-top: 0;
  transform: translateX(50%);
  background-color: #ebe7db;
  color: #ebe7db;
}

.third-row-white-circle {
  grid-column: 4/5;
  grid-row: 3/4;
  height: 100%;
  width: 100%;
  text-align: center;
  color: #ebe7db;

  background-color: #ebe7db;
  margin-top: 0;
  border-radius: 50%;
}

.third-row-red {
  grid-column: 4/7;
  grid-row: 3/4;
  margin: 0;

  background-color: #ef4423;
}

.fourth-row-green{
  grid-column: 1/4;
  grid-row: 4/6;
  margin-top: 0;
  background-color: #0a8a57;
  color: #0a8a57;
}

.fourth-row-yellow{
  grid-column: 4/6;
  grid-row: 4/6;
  margin-top: 0;
  background-color: #f1bf1d;
  color: #f1bf1d;
}

.fourth-row-yellow-offset{
  grid-column: 5/6;
  grid-row: 4/6;
  margin-top: 0;
  transform: translateX(50%);
  background-color: #f1bf1d;
  color: #f1bf1d;
}

.fourth-row-yellow-circle{
  grid-column: 4/5;
  grid-row: 4/5;
  width: 100%;
  height: 100%;
  margin-top: 0;
  text-align: center;

  transform: translate(-50%);
  border-radius: 50%;
  background-color: #f1bf1d;
  color: #f1bf1d;
}

.fourth-row-yellow-circle-right{
  grid-column: 6/7;
  grid-row: 4/5;
  width: 100%;
  height: 100%;
  margin-top: 0;
  text-align: center;
  z-index: 1;

  border-radius: 50%;
  background-color: #f1bf1d;
  color: #f1bf1d;
}

.fourth-row-white {
  grid-column: 6/7;
  grid-row: 4/5;
  height: 100%;
  margin: 0;
  background-color: #ebe7db;
  color: #ebe7db;
}

.last-row {
  display: flex;
  grid-column: 6;
  grid-row: 5;
  align-items: center;
  justify-content: center;
  color: #f2a1c3;

  height: 100%;
  width: 100%;
  background-color: #f2a1c3;;
  border-radius: 50%;
  margin: 0;
}

.red-background-last {
  margin: 0;
  grid-column: 1/4;
  grid-row: 5/6;

  color: #ef4423;
  background-color: #ef4423;
}

.red-background-last-offset {
  margin: 0;
  grid-column: 3/4;
  grid-row: 5/6;
  transform: translateX(50%);

  color: #ef4423;
  background-color: #ef4423;
}

.red-background-last-circle {
  margin: 0;
  grid-column: 4/5;
  grid-row: 5/6;
  z-index: 1;

  height: 100%;
  width: 100%;
  border-radius: 50%;
  color: #ef4423;
  background-color: #ef4423;
}

.pink-background-last {
  margin: 0;
  grid-column: 4/6;
  grid-row: 5/6;

  color: #f2a1c3;
  background-color: #f2a1c3;
}

.pink-background-last-offset {
  margin: 0;
  grid-column: 5/6;
  grid-row: 5/6;
  height: 100%;
  background-color: #f2a1c3;
  color: #f2a1c3;
  transform: translateX(50%);
}

.last-row-back {
  margin: 0;
  grid-column: 6;
  grid-row: 5;
  background-color: #211e1f;
  color: #211e1f;
  height: 100%;
  width: 100%;
  z-index: -1;
}