* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h3, h4 {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  grid-column: 1/4;
  grid-row: 6;
  font-size:50px;
  background-color: #ebe7db;
  height: 100%;
  padding: 30px;
  margin: 0;
}

h3 {
  grid-column: 4/7;
  grid-row: 6;
  font-size: 30px;
  background-color: #ebe7db;
  height: 100%;
  padding: 30px;
  margin: 0;
}

h4 {
  grid-column: 4/7;
  grid-row: 6;
  align-self: end;
  padding: 30px;
  margin: 0;
  
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.second-row-circle-pink {
  display: flex;
  grid-column: 1;
  grid-row: 2;
  align-items: center;
  justify-content: center;
  color: #f2a1c3;

  height: 100%;
  width: 100%;
  background-color: #f2a1c3;
  border-radius: 50%;
  margin: 0;
}

.pink-background-offset {
  margin: 0;
  grid-column: 2/3;
  grid-row: 2/3;
  height: 100%;
  background-color: #f2a1c3;
  color: #f2a1c3;
  transform: translateX(-50%);
}

.pink-background {
  margin: 0;
  grid-column: 2/4;
  grid-row: 2/3;
  height: 100%;
  background-color: #f2a1c3;
  color: #f2a1c3;
}

.second-row-back {
  margin: 0;
  grid-column: 6;
  grid-row: 5;
  background-color: black;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.fourth-row-green{
  grid-column: 1/4;
  grid-row: 4/6;
  margin-top: 0;
  background-color: #0a8a57;
  color: #0a8a57;
}

.fourth-row-yellow{
  grid-column: 4/6;
  grid-row: 4/6;
  margin-top: 0;
  background-color: #f1bf1d;
  color: #f1bf1d;
}

.fourth-row-white {
  grid-column: 6/7;
  grid-row: 4/5;
  height: 100%;
  margin: 0;
  background-color: #ebe7db;
  color: #ebe7db;
}

.last-row {
  display: flex;
  grid-column: 6;
  grid-row: 5;
  align-items: center;
  justify-content: center;
  color: #f2a1c3;

  height: 100%;
  width: 100%;
  background-color: #f2a1c3;;
  border-radius: 50%;
  margin: 0;
}

.red-background-last {
  margin: 0;
  grid-column: 1/4;
  grid-row: 5/6;

  color: #ef4423;
  background-color: #ef4423;
}

.red-background-last-offset {
  margin: 0;
  grid-column: 3/4;
  grid-row: 5/6;
  transform: translateX(50%);

  color: #ef4423;
  background-color: #ef4423;
}

.red-background-last-circle {
  margin: 0;
  grid-column: 4/5;
  grid-row: 5/6;
  z-index: 1;

  height: 100%;
  width: 100%;
  border-radius: 50%;
  color: #ef4423;
  background-color: #ef4423;
}

.pink-background-last {
  margin: 0;
  grid-column: 4/6;
  grid-row: 5/6;

  color: #f2a1c3;
  background-color: #f2a1c3;
}

.pink-background-last-offset {
  margin: 0;
  grid-column: 5/6;
  grid-row: 5/6;
  height: 100%;
  background-color: #f2a1c3;
  color: #f2a1c3;
  transform: translateX(50%);
}